html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100%;
  margin: 0 5vw;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}
