.Nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: white;
    border-bottom: 2px solid black;
    height: 7.5vh;
    width: 100vw;
    font-size: 1.1rem;
    font-weight: 400;
}

.Nav a{
    padding: 5px 10px;
}

.Nav a:hover{
    opacity: 0.8;
}

.NavLogo{
    padding: 2px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 50px;
}